:root
  font-family: Helvetica, Arial
  box-sizing: border-box
  color: #333

*
  box-sizing: inherit

p, h1, h2, h3, h4, h5, h6
  margin: 0

body, h1, h2, h3, h4, h5, h6
  font-size: 1rem

h1, h2, h3, h4, h5, h6
  font-weight: normal

ul
  list-style-type: none
  margin: 0
  padding: 0

a
  text-decoration: none
  color: #333

  &:hover
    color: #4078C0

body
  margin: 1em
